body { background: #deb5c4; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 31px; display: flex; }
.block-validator-0 { color: #b15dd8; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #1679ae; font-size: 21px; margin-bottom: 5px; }
.block-router-2 { color: #cf69b0; font-size: 19px; margin-bottom: 5px; }
.block-filter-3 { color: #7f65fa; font-size: 21px; margin-bottom: 5px; }
.block-payment-4 { color: #aad869; font-size: 15px; margin-bottom: 5px; }